<p id="notice"><%= notice %></p>
<% if @images.count > 0 %>
<div class="text-center">
  <h1>Image Feed</h1><br>
</div>

<div id = "images">
  <div id='pins' class='transitions-enabled'>
    <%= render 'images', images: @images%>
  </div>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @images%>
</div>
<div class="bottom">
</div>

<% else %>
<div class="text-center">
  <h1>No images to dislay :-(</h1>
</div>
<% end %>

<a id="back2Top" title="Back to top" href="#">&#10148;</a>

<!-- <script>

</script> -->