$('#pins').append('<%= j render("images", images: @images) %>').masonry( 'reload' );
<% if @images.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@images) %>');
<% else %>
  $('.bottom').replaceWith('<div class="text-center"> <h1>No images to display :-(</h1> </div>');
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>